body {
    font-family: sans-serif;
    margin: 1rem;
}
.containeer {
    width: 100%;
}
ol {
    background-color: #ed9eae;
    padding: 30px;
}

li {
    background-color: #c66376;
    border: 5px solid #ed9eae;
    list-style: none;
    counter-increment: count-me;
}

#product {
    color: white;
    background-color: #9e354a;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
