.containeer{
    width: 700px;
}

body{
    font-family: sans-serif;
    background-color: rgba(245,245,245,255);
}

h1{
    margin-left: 1.6rem;
    font-size: 30px;
}

ul{
    list-style: none;
}

li{
    list-style-image: url(./Image/unchecked_16.png);
    background-color: #add8e6;
    list-style-position: inside;
    font-size: 20px;
    padding: 0.5em 0.5em 0.5em 2em;
}

#unchecked{
    list-style-image: url(./Image/checked_16.png);
    background-color: #e2e2e2;
    list-style-position: inside;
    text-decoration: line-through;
}

span::after{
    content: "×";
    color: darkred;
    padding-left: 20px;
    text-decoration: none;
}

#darkblue{
    background-color:#a5ccda;
}